<div class="row gy-6 gy-lg-0">
  <div class="col-lg-5">
    <div class="widget">
      <img src="@@webRoot/assets/img/logo-jbg.svg" srcset="@@webRoot/assets/img/logo-jbg.svg 2x" alt="" style="
      width: 160px;" />
      <p class="text-dark mt-3 mb-5">Solusi Pengiriman ikan dari Indonesia ke luar negeri Terpecaya</p>
      <nav class="nav social">
        <a href="#" class="btn btn-circle btn-sm btn-primary">
          <i class="uil uil-facebook-f"></i>
        </a>
        <a href="#" class="btn btn-circle btn-sm btn-primary">
          <i class="uil uil-twitter"></i>
        </a>
        <a href="#" class="btn btn-circle btn-sm btn-primary">
          <i class="uil uil-instagram"></i>
        </a>
        <a href="#" class="btn btn-circle btn-sm btn-primary">
          <i class="uil uil-youtube"></i>
        </a>
      </nav>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-6 col-lg-3 offset-lg-1 pt-3 pt-lg-0">
    <div class="widget">
      <h4 class="widget-title text-primary mb-5 mb-lg-3">Menu Bantuan</h4>
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item"><a class="nav-link py-2 text-dark" href="@@webRoot/index.html">Beranda</a></li>
        <li class="nav-item"><a class="nav-link py-2 text-dark" href="@@webRoot/page/cek-resi.html">Lacak Paket</a></li>
        <li class="nav-item"><a class="nav-link py-2 text-dark" href="@@webRoot/page/cek-tarif.html">Cek Tarif</a></li>
        <li class="nav-item"><a class="nav-link py-2 text-dark" href="@@webRoot/page/cek-jadwal.html">Cek Jadwal</a></li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-6 col-lg-3 pt-3 pt-lg-0">
    <div class="widget">
      <h4 class="widget-title text-primary mb-5 mb-lg-3">Informasi Kontak</h4>
      <ul class="list-unstyled mb-0">
        <li>
          <a href="tel:+62 812-9797-1227" class="text-dark"><i class="uil uil-phone"></i> +62 812-9797-1227</a>
        </li>
        <li>
          <a href="mailto:jbgtranshipping@gmail.com" class="text-dark"><i class="uil uil-envelope"></i> jbgtranshipping@gmail.com</a>
        </li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <p class="text-center text-dark py-5">Copyright 2022 © JBG Transhipping</p>
</div>
<!--/.row -->
<!-- /div -->