<div class="row gy-6 gy-lg-0">
  <div class="col-lg-5">
    <div class="widget">
      <img src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" />
      <p class="text-white mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing pulvinar sit sed eu nulla risus quis amet.</p>
      <nav class="nav social">
        <a href="#" class="btn btn-circle btn-sm btn-white">
          <i class="uil uil-facebook-f"></i>
        </a>
        <a href="#" class="btn btn-circle btn-sm btn-white">
          <i class="uil uil-twitter"></i>
        </a>
        <a href="#" class="btn btn-circle btn-sm btn-white">
          <i class="uil uil-instagram"></i>
        </a>
        <a href="#" class="btn btn-circle btn-sm btn-white">
          <i class="uil uil-youtube"></i>
        </a>
      </nav>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-6 col-lg-3 offset-lg-1 pt-3 pt-lg-0">
    <div class="widget">
      <h4 class="widget-title text-white mb-5 mb-lg-3">Alamat Kantor</h4>
      <p class="text-white">Menara bidakara Lantai 1, Jl. Jendral Gatot Subroto Kav.71-73 Jakarta</p>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-6 col-lg-3 pt-3 pt-lg-0">
    <div class="widget">
      <h4 class="widget-title text-white mb-5 mb-lg-3">Hubungi Kami</h4>
      <ul class="list-unstyled mb-0">
        <li>
          <a href="#" class="text-white"><i class="uil uil-phone"></i> 021 83700809</a>
        </li>
        <li>
          <a href="#" class="text-white"><i class="uil uil-envelope"></i> Komnas@spniba-bca.org</a>
        </li>
      </ul>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->
<hr class="mt-13 mt-md-12 mb-4 bg-white" />
<div class="d-md-flex align-items-center justify-content-end">
  <nav class="nav justify-content-center">
    <li>
      <a href="@@webRoot/page/syarat-ketentuan.html" class="text-white mx-4">Syarat dan Ketentuan</a>
    </li>
    <li>
      <a href="@@webRoot/page/kebijakan-privasi.html" class="text-white">Kebijakan Privasi</a>

    </li>
  </nav>
  <!-- /.social -->
</div>
<!-- /div -->