@@if (!context.centerLogo) {
  <ul class="navbar-nav">
    }
  @@if (context.centerLogo) {
    <div class="w-100 order-1 order-lg-0 d-lg-flex">
      <ul class="navbar-nav ms-lg-auto">
        }
        <li class="nav-item"><a class="nav-link scroll active" href="@@webRoot/">Beranda</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Tentang Kami</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/page/tentang-kami.html">KOMNAS SP NIBA BCA</a></li>
            <li class="dropdown dropdown-submenu dropend"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Perangkat Organisasi</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="@@webRoot/page/komnas-sp-niba-bca.html">Komite Nasional</a></li>
                <li class="nav-item"><a class="dropdown-item" href="@@webRoot/page/cari-komda.html">Komite Daerah/Wilayah</a></li>
                <li class="nav-item"><a class="dropdown-item" href="@@webRoot/page/cari-komcab.html">Komite Cabang</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link scroll" href="@@webRoot/page/member.html">Member</a></li>
        <li class="nav-item"><a class="nav-link scroll" href="@@webRoot/page/kabar-terbaru.html">Informasi</a></li>
        <li class="nav-item"><a class="nav-link scroll" href="@@webRoot/page/kontak-kami.html">Kontak Kami</a></li>
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
    </div>
  }
  @@if (!context.centerLogo) {
  </ul>
  <!-- /.navbar-nav -->
  }