<li class="nav-item dropdown dropdown-avatar">
  <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <span class="avatar bg-primary text-white w-8 h-8 d-inline-flex">
      <span class="fs-15">TW</span>
    </span>
  </a>
  <ul class="dropdown-menu">
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/index.html">
        <div class="mb-1">
          <i class="uil uil-user-circle fs-24 me-1 align-middle"></i>
          <span class="align-middle">Profile</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/data-penempatan.html">
        <div class="mb-1">
          <i class="uil uil-briefcase fs-24 me-1 align-middle"></i>
          <span class="align-middle">Data Penempatan</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/donasi-member.html">
        <div class="mb-1">
          <i class="uil uil-money-bill fs-24 me-1 align-middle"></i>
          <span class="align-middle">Donasi Anggota</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/kabar-member.html">
        <div class="mb-1">
          <i class="uil uil-users-alt fs-24 me-1 align-middle"></i>
          <span class="align-middle">Kabar Member</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/data-pesan.html">
        <div class="mb-1">
          <i class="uil uil-chat fs-24 me-1 align-middle"></i>
          <span class="align-middle">Pesan</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/syarat-ketentuan.html">
        <div class="mb-1">
          <i class="uil uil-clipboard-notes fs-24 me-1 align-middle"></i>
          <span class="align-middle">Syarat & Ketentuan</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="@@webRoot/dashboard/kebijakan-privasi.html">
        <div class="mb-1">
          <i class="uil uil-clipboard-notes fs-24 me-1 align-middle"></i>
          <span class="align-middle">Kebijakan Privasi</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="dropdown-item" href="#">
        <div class="mb-1">
          <i class="uil uil-signout fs-24 me-1 align-middle"></i>
          <span class="align-middle">Keluar</span>
        </div>
      </a>
    </li>
  </ul>
</li>