<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-menu-alt-right' id="btn" ></i>
  </div>
  <div class="text-ash">Menu Utama</div>
  <ul class="list-unstyled">
      <li class="mb-2">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-user-circle fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Profile</span>
          </div>
        </a>
      <li>
      <li class="mb-2">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-briefcase fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Data Penempatan</span>
          </div>
        </a>
      <li>
      <li class="mb-2">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-money-bill fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Donasi Anggota</span>
          </div>
        </a>
      <li>
      <li class="mb-2">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-users-alt fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Kabar Member</span>
          </div>
        </a>
      <li>
      <li class="mb-1">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-chat fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Pesan</span>
          </div>
        </a>
      <li>        
  </ul>
  <hr class="my-5"/>
  <div class="text-ash">Informasi</div>
  <ul class="list-unstyled">
    <li class="mb-2">
      <a href="#" class="text-dark hover">
        <div class="mb-1">
          <i class="uil uil-clipboard-notes fs-24 me-1 align-middle"></i>
          <span class="fs-16 align-middle">Syarat & Ketentuan</span>
        </div>
      </a>
    <li>
    <li class="mb-2">
      <a href="#" class="text-dark hover">
        <div class="mb-1">
          <i class="uil uil-clipboard-notes fs-24 me-1 align-middle"></i>
          <span class="fs-16 align-middle">Kebijakan Privasi</span>
        </div>
      </a>
    <li>
    <li class="mb-2">
      <a href="#" class="text-dark hover">
        <div class="mb-1">
          <i class="uil uil-signout fs-24 me-1 align-middle"></i>
          <span class="fs-16 align-middle">Keluar</span>
        </div>
      </a>
    <li>
</ul>
</div>  