<div class="sidebar px-3">
  <div class="logo-details">
    <i class='bx bx-menu-alt-right' id="btn" ></i>
  </div>
  <div class="text-ash">Menu Utama</div>
  <ul class="list-unstyled">
      <li class="mb-2">
        <a href="index.html" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-user-circle fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Profile</span>
          </div>
        </a>
      <li>
      <li class="mb-2">
        <a href="@@webRoot/dashboard/data-penempatan.html" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-briefcase fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Data Penempatan</span>
          </div>
        </a>
      <li>
      <li class="mb-2">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-money-bill fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Donasi Anggota</span>
          </div>
        </a>
      <li>
      <li class="mb-2">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-users-alt fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Kabar Member</span>
          </div>
        </a>
      <li>
      <li class="mb-1">
        <a href="#" class="text-dark hover">
          <div class="mb-1">
            <i class="uil uil-chat fs-24 me-1 align-middle"></i>
            <span class="fs-16 align-middle">Pesan</span>
          </div>
        </a>
      <li>        
  </ul>
  <hr class="my-5"/>
  <div class="text-ash">Informasi</div>
  <ul class="list-unstyled">
    <li class="mb-2">
      <a href="syarat-ketentuan.html" class="text-dark hover">
        <div class="mb-1">
          <i class="uil uil-clipboard-notes fs-24 me-1 align-middle"></i>
          <span class="fs-16 align-middle">Syarat & Ketentuan</span>
        </div>
      </a>
    <li>
    <li class="mb-2">
      <a href="kebijakan-privasi.html" class="text-dark hover">
        <div class="mb-1">
          <i class="uil uil-clipboard-notes fs-24 me-1 align-middle"></i>
          <span class="fs-16 align-middle">Kebijakan Privasi</span>
        </div>
      </a>
    <li>
    <li class="mb-2">
      <a href="#" class="text-dark hover" data-bs-toggle="modal" data-bs-target="#modal-logout">
        <div class="mb-1">
          <i class="uil uil-signout fs-24 me-1 align-middle"></i>
          <span class="fs-16 align-middle">Keluar</span>
        </div>
      </a>
    <li>
  </ul>
</div>

<!-- Modal Logout -->
<div class="modal fade" id="modal-logout" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content text-center">
      <div class="modal-body">
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3>Apakah Anda yakin ingin keluar ?</h3>
        <p class="mb-6">Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form action="#" method="#" id="" class="validate" target="_blank" novalidate>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-ash ms-3 w-100" data-bs-dismiss="modal" aria-label="Close">Kembali</button>	
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-primary w-100">Keluar</button>	
                </div>
              </div>
            </form>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!--/.modal-body -->
    </div>
    <!--/.modal-content -->
  </div>
  <!--/.modal-dialog -->
</div>


